<html>
	<head>
		<title>Church App</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="" type="text/css" href="/style.css">

		 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    	</script>
    			<script type="text/javascript" src="/main.js"></script>
	</head>
	<body>
		<div id="main">
		
			<!-- yield is where our page content goes -->
			<%= yield %>
		</div>
		<!-- <footer>Made at GA</footer> -->
	</body>
</html>